#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}
#slider-125 H1 {
  color: #000000;
  font-size: 25px;
}
#footer1-359 P {
  color: #ffffff;
}
#dropdown-menu-2btn-118 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-118 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-118 .nav .link,
#dropdown-menu-2btn-118 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-118 .navbar,
#dropdown-menu-2btn-118 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-118 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-118 .dropdown-menu a:hover,
#dropdown-menu-2btn-118 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-118 .navbar-toggler {
  color: #ffffff;
}
#header3-122 H3 {
  font-size: 20px;
}
#header3-124 H3 {
  font-size: 20px;
}
#header3-126 H3 {
  font-size: 20px;
}
#header3-128 H3 {
  font-size: 20px;
}
#header3-130 H3 {
  font-size: 20px;
}
#header3-333 H3 {
  font-size: 20px;
}
#header3-132 H3 {
  font-size: 20px;
}
#header3-134 H3 {
  font-size: 20px;
}
#header3-136 H3 {
  font-size: 20px;
}
#header3-138 H3 {
  font-size: 20px;
}
#footer1-332 P {
  color: #ffffff;
}
#dropdown-menu-2btn-142 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-142 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-142 .nav .link,
#dropdown-menu-2btn-142 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-142 .navbar,
#dropdown-menu-2btn-142 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-142 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-142 .dropdown-menu a:hover,
#dropdown-menu-2btn-142 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-142 .navbar-toggler {
  color: #ffffff;
}
#header3-143 H3 {
  font-size: 20px;
}
#header3-145 H3 {
  font-size: 20px;
}
#header3-147 H3 {
  font-size: 20px;
}
#header3-149 H3 {
  font-size: 20px;
}
#header3-151 H3 {
  font-size: 20px;
}
#header3-335 H3 {
  font-size: 20px;
}
#header3-153 H3 {
  font-size: 20px;
}
#header3-155 H3 {
  font-size: 20px;
}
#header3-157 H3 {
  font-size: 20px;
}
#header3-159 H3 {
  font-size: 20px;
}
#footer1-217 P {
  color: #ffffff;
}
#dropdown-menu-2btn-161 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-161 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-161 .nav .link,
#dropdown-menu-2btn-161 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-161 .navbar,
#dropdown-menu-2btn-161 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-161 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-161 .dropdown-menu a:hover,
#dropdown-menu-2btn-161 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-161 .navbar-toggler {
  color: #ffffff;
}
#header3-162 H3 {
  font-size: 20px;
}
#header3-164 H3 {
  font-size: 20px;
}
#content1-165 P {
  text-align: left;
}
#header3-166 H3 {
  font-size: 20px;
}
#header3-168 H3 {
  font-size: 20px;
}
#header3-170 H3 {
  font-size: 20px;
}
#header3-337 H3 {
  font-size: 20px;
}
#header3-172 H3 {
  font-size: 20px;
}
#header3-174 H3 {
  font-size: 20px;
}
#header3-176 H3 {
  font-size: 20px;
}
#header3-178 H3 {
  font-size: 20px;
}
#footer1-217 P {
  color: #ffffff;
}
#dropdown-menu-2btn-180 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-180 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-180 .nav .link,
#dropdown-menu-2btn-180 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-180 .navbar,
#dropdown-menu-2btn-180 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-180 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-180 .dropdown-menu a:hover,
#dropdown-menu-2btn-180 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-180 .navbar-toggler {
  color: #ffffff;
}
#header3-181 H3 {
  font-size: 20px;
}
#header3-183 H3 {
  font-size: 20px;
}
#header3-185 H3 {
  font-size: 20px;
}
#header3-187 H3 {
  font-size: 20px;
}
#header3-189 H3 {
  font-size: 20px;
}
#header3-339 H3 {
  font-size: 20px;
}
#header3-191 H3 {
  font-size: 20px;
}
#header3-193 H3 {
  font-size: 20px;
}
#header3-195 H3 {
  font-size: 20px;
}
#header3-197 H3 {
  font-size: 20px;
}
#footer1-217 P {
  color: #ffffff;
}
#dropdown-menu-2btn-207 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-207 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-207 .nav .link,
#dropdown-menu-2btn-207 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-207 .navbar,
#dropdown-menu-2btn-207 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-207 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-207 .dropdown-menu a:hover,
#dropdown-menu-2btn-207 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-207 .navbar-toggler {
  color: #ffffff;
}
#header3-208 H3 {
  font-size: 20px;
}
#header3-210 H3 {
  font-size: 20px;
}
#header3-212 H3 {
  font-size: 20px;
}
#header3-214 H3 {
  font-size: 20px;
}
#header3-216 H3 {
  font-size: 20px;
}
#header3-341 H3 {
  font-size: 20px;
}
#header3-218 H3 {
  font-size: 20px;
}
#header3-220 H3 {
  font-size: 20px;
}
#header3-222 H3 {
  font-size: 20px;
}
#header3-224 H3 {
  font-size: 20px;
}
#footer1-217 P {
  color: #ffffff;
}
#dropdown-menu-2btn-245 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-245 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-245 .nav .link,
#dropdown-menu-2btn-245 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-245 .navbar,
#dropdown-menu-2btn-245 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-245 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-245 .dropdown-menu a:hover,
#dropdown-menu-2btn-245 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-245 .navbar-toggler {
  color: #ffffff;
}
#header3-246 H3 {
  font-size: 20px;
}
#header3-248 H3 {
  font-size: 20px;
}
#header3-250 H3 {
  font-size: 20px;
}
#header3-252 H3 {
  font-size: 20px;
}
#header3-254 H3 {
  font-size: 20px;
}
#header3-343 H3 {
  font-size: 20px;
}
#header3-256 H3 {
  font-size: 20px;
}
#header3-258 H3 {
  font-size: 20px;
}
#header3-260 H3 {
  font-size: 20px;
}
#header3-262 H3 {
  font-size: 20px;
}
#footer1-217 P {
  color: #ffffff;
}
#dropdown-menu-2btn-245 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-245 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-245 .nav .link,
#dropdown-menu-2btn-245 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-245 .navbar,
#dropdown-menu-2btn-245 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-245 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-245 .dropdown-menu a:hover,
#dropdown-menu-2btn-245 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-245 .navbar-toggler {
  color: #ffffff;
}
#header3-224 H3 {
  font-size: 20px;
}
#header3-226 H3 {
  font-size: 20px;
}
#header3-228 H3 {
  font-size: 20px;
}
#header3-230 H3 {
  font-size: 20px;
}
#header3-232 H3 {
  font-size: 20px;
}
#header3-234 H3 {
  font-size: 20px;
}
#footer1-217 P {
  color: #ffffff;
}
#dropdown-menu-2btn-237 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-237 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-237 .nav .link,
#dropdown-menu-2btn-237 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-237 .navbar,
#dropdown-menu-2btn-237 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-237 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-237 .dropdown-menu a:hover,
#dropdown-menu-2btn-237 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-237 .navbar-toggler {
  color: #ffffff;
}
#header3-238 H3 {
  font-size: 20px;
}
#header3-240 H3 {
  font-size: 20px;
}
#header3-242 H3 {
  font-size: 20px;
}
#header3-244 H3 {
  font-size: 20px;
}
#header3-246 H3 {
  font-size: 20px;
}
#header3-248 H3 {
  font-size: 20px;
}
#footer1-250 P {
  color: #ffffff;
}
#dropdown-menu-2btn-262 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-262 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-262 .nav .link,
#dropdown-menu-2btn-262 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-262 .navbar,
#dropdown-menu-2btn-262 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-262 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-262 .dropdown-menu a:hover,
#dropdown-menu-2btn-262 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-262 .navbar-toggler {
  color: #ffffff;
}
#header3-263 H3 {
  font-size: 20px;
}
#header3-265 H3 {
  font-size: 20px;
}
#header3-267 H3 {
  font-size: 20px;
}
#header3-269 H3 {
  font-size: 20px;
}
#header3-271 H3 {
  font-size: 20px;
}
#header3-273 H3 {
  font-size: 20px;
}
#footer1-275 P {
  color: #ffffff;
}
#dropdown-menu-2btn-276 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-276 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-276 .nav .link,
#dropdown-menu-2btn-276 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-276 .navbar,
#dropdown-menu-2btn-276 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-276 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-276 .dropdown-menu a:hover,
#dropdown-menu-2btn-276 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-276 .navbar-toggler {
  color: #ffffff;
}
#header3-277 H3 {
  font-size: 20px;
}
#header3-279 H3 {
  font-size: 20px;
}
#header3-281 H3 {
  font-size: 20px;
}
#header3-283 H3 {
  font-size: 20px;
}
#header3-285 H3 {
  font-size: 20px;
}
#header3-287 H3 {
  font-size: 20px;
}
#footer1-289 P {
  color: #ffffff;
}
#dropdown-menu-2btn-290 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-290 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-290 .nav .link,
#dropdown-menu-2btn-290 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-290 .navbar,
#dropdown-menu-2btn-290 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-290 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-290 .dropdown-menu a:hover,
#dropdown-menu-2btn-290 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-290 .navbar-toggler {
  color: #ffffff;
}
#header3-291 H3 {
  font-size: 20px;
}
#header3-293 H3 {
  font-size: 20px;
}
#header3-295 H3 {
  font-size: 20px;
}
#header3-297 H3 {
  font-size: 20px;
}
#header3-299 H3 {
  font-size: 20px;
}
#header3-301 H3 {
  font-size: 20px;
}
#footer1-303 P {
  color: #ffffff;
}
#dropdown-menu-2btn-319 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-319 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-319 .nav .link,
#dropdown-menu-2btn-319 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-319 .navbar,
#dropdown-menu-2btn-319 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-319 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-319 .dropdown-menu a:hover,
#dropdown-menu-2btn-319 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-319 .navbar-toggler {
  color: #ffffff;
}
#header3-320 H3 {
  font-size: 20px;
}
#header3-322 H3 {
  font-size: 20px;
}
#header3-324 H3 {
  font-size: 20px;
}
#header3-326 H3 {
  font-size: 20px;
}
#header3-328 H3 {
  font-size: 20px;
}
#header3-330 H3 {
  font-size: 20px;
}
#footer1-332 P {
  color: #ffffff;
}
#dropdown-menu-2btn-304 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-304 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-304 .nav .link,
#dropdown-menu-2btn-304 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-304 .navbar,
#dropdown-menu-2btn-304 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-304 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-304 .dropdown-menu a:hover,
#dropdown-menu-2btn-304 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-304 .navbar-toggler {
  color: #ffffff;
}
#header3-305 H3 {
  font-size: 20px;
}
#header3-307 H3 {
  font-size: 20px;
}
#header3-309 H3 {
  font-size: 20px;
}
#header3-311 H3 {
  font-size: 20px;
}
#header3-313 H3 {
  font-size: 20px;
}
#header3-315 H3 {
  font-size: 20px;
}
#footer1-317 P {
  color: #ffffff;
}
#dropdown-menu-2btn-318 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-318 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-318 .nav .link,
#dropdown-menu-2btn-318 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-318 .navbar,
#dropdown-menu-2btn-318 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-318 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-318 .dropdown-menu a:hover,
#dropdown-menu-2btn-318 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-318 .navbar-toggler {
  color: #ffffff;
}
#header3-319 H3 {
  font-size: 20px;
}
#header3-321 H3 {
  font-size: 20px;
}
#header3-323 H3 {
  font-size: 20px;
}
#header3-325 H3 {
  font-size: 20px;
}
#header3-327 H3 {
  font-size: 20px;
}
#header3-329 H3 {
  font-size: 20px;
}
#footer1-331 P {
  color: #ffffff;
}
#dropdown-menu-2btn-332 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-332 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-332 .nav .link,
#dropdown-menu-2btn-332 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-332 .navbar,
#dropdown-menu-2btn-332 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-332 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-332 .dropdown-menu a:hover,
#dropdown-menu-2btn-332 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-332 .navbar-toggler {
  color: #ffffff;
}
#header3-333 H3 {
  font-size: 20px;
}
#header3-335 H3 {
  font-size: 20px;
}
#header3-337 H3 {
  font-size: 20px;
}
#header3-339 H3 {
  font-size: 20px;
}
#header3-341 H3 {
  font-size: 20px;
}
#header3-343 H3 {
  font-size: 20px;
}
#footer1-345 P {
  color: #ffffff;
}
#dropdown-menu-2btn-346 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-346 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-346 .nav .link,
#dropdown-menu-2btn-346 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-346 .navbar,
#dropdown-menu-2btn-346 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-346 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-346 .dropdown-menu a:hover,
#dropdown-menu-2btn-346 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-346 .navbar-toggler {
  color: #ffffff;
}
#header3-347 H3 {
  font-size: 20px;
}
#header3-349 H3 {
  font-size: 20px;
}
#header3-351 H3 {
  font-size: 20px;
}
#header3-353 H3 {
  font-size: 20px;
}
#header3-355 H3 {
  font-size: 20px;
}
#header3-357 H3 {
  font-size: 20px;
}
#footer1-359 P {
  color: #ffffff;
}
#dropdown-menu-2btn-46 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-46 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-46 .nav .link,
#dropdown-menu-2btn-46 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-46 .navbar,
#dropdown-menu-2btn-46 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-46 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-46 .dropdown-menu a:hover,
#dropdown-menu-2btn-46 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-46 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-50 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-50 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-50 .nav .link,
#dropdown-menu-2btn-50 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-50 .navbar,
#dropdown-menu-2btn-50 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-50 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-50 .dropdown-menu a:hover,
#dropdown-menu-2btn-50 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-50 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-28 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-28 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-28 .nav .link,
#dropdown-menu-2btn-28 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-28 .navbar,
#dropdown-menu-2btn-28 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-28 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-28 .dropdown-menu a:hover,
#dropdown-menu-2btn-28 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-28 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-20 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-20 .nav .link,
#dropdown-menu-2btn-20 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-20 .navbar,
#dropdown-menu-2btn-20 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-20 .dropdown-menu a:hover,
#dropdown-menu-2btn-20 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-20 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-72 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-72 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-72 .nav .link,
#dropdown-menu-2btn-72 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-72 .navbar,
#dropdown-menu-2btn-72 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-72 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-72 .dropdown-menu a:hover,
#dropdown-menu-2btn-72 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-72 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-76 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-76 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-76 .nav .link,
#dropdown-menu-2btn-76 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-76 .navbar,
#dropdown-menu-2btn-76 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-76 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-76 .dropdown-menu a:hover,
#dropdown-menu-2btn-76 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-76 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-82 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-82 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-82 .nav .link,
#dropdown-menu-2btn-82 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-82 .navbar,
#dropdown-menu-2btn-82 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-82 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-82 .dropdown-menu a:hover,
#dropdown-menu-2btn-82 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-82 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-83 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-83 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-83 .nav .link,
#dropdown-menu-2btn-83 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-83 .navbar,
#dropdown-menu-2btn-83 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-83 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-83 .dropdown-menu a:hover,
#dropdown-menu-2btn-83 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-83 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-88 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-88 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-88 .nav .link,
#dropdown-menu-2btn-88 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-88 .navbar,
#dropdown-menu-2btn-88 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-88 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-88 .dropdown-menu a:hover,
#dropdown-menu-2btn-88 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-88 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-90 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-90 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-90 .nav .link,
#dropdown-menu-2btn-90 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-90 .navbar,
#dropdown-menu-2btn-90 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-90 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-90 .dropdown-menu a:hover,
#dropdown-menu-2btn-90 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-90 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-94 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-94 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-94 .nav .link,
#dropdown-menu-2btn-94 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-94 .navbar,
#dropdown-menu-2btn-94 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-94 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-94 .dropdown-menu a:hover,
#dropdown-menu-2btn-94 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-94 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-98 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-98 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-98 .nav .link,
#dropdown-menu-2btn-98 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-98 .navbar,
#dropdown-menu-2btn-98 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-98 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-98 .dropdown-menu a:hover,
#dropdown-menu-2btn-98 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-98 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-102 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-102 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-102 .nav .link,
#dropdown-menu-2btn-102 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-102 .navbar,
#dropdown-menu-2btn-102 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-102 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-102 .dropdown-menu a:hover,
#dropdown-menu-2btn-102 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-102 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-106 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-106 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-106 .nav .link,
#dropdown-menu-2btn-106 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-106 .navbar,
#dropdown-menu-2btn-106 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-106 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-106 .dropdown-menu a:hover,
#dropdown-menu-2btn-106 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-106 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-110 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-110 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-110 .nav .link,
#dropdown-menu-2btn-110 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-110 .navbar,
#dropdown-menu-2btn-110 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-110 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-110 .dropdown-menu a:hover,
#dropdown-menu-2btn-110 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-110 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-114 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-114 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-114 .nav .link,
#dropdown-menu-2btn-114 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-114 .navbar,
#dropdown-menu-2btn-114 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-114 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-114 .dropdown-menu a:hover,
#dropdown-menu-2btn-114 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-114 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-118 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-118 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-118 .nav .link,
#dropdown-menu-2btn-118 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-118 .navbar,
#dropdown-menu-2btn-118 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-118 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-118 .dropdown-menu a:hover,
#dropdown-menu-2btn-118 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-118 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-346 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-346 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-346 .nav .link,
#dropdown-menu-2btn-346 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-346 .navbar,
#dropdown-menu-2btn-346 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-346 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-346 .dropdown-menu a:hover,
#dropdown-menu-2btn-346 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-346 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-351 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-351 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-351 .nav .link,
#dropdown-menu-2btn-351 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-351 .navbar,
#dropdown-menu-2btn-351 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-351 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-351 .dropdown-menu a:hover,
#dropdown-menu-2btn-351 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-351 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-354 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-354 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-354 .nav .link,
#dropdown-menu-2btn-354 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-354 .navbar,
#dropdown-menu-2btn-354 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-354 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-354 .dropdown-menu a:hover,
#dropdown-menu-2btn-354 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-354 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-358 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-358 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-358 .nav .link,
#dropdown-menu-2btn-358 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-358 .navbar,
#dropdown-menu-2btn-358 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-358 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-358 .dropdown-menu a:hover,
#dropdown-menu-2btn-358 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-358 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-363 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-363 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-363 .nav .link,
#dropdown-menu-2btn-363 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-363 .navbar,
#dropdown-menu-2btn-363 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-363 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-363 .dropdown-menu a:hover,
#dropdown-menu-2btn-363 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-363 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-366 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-366 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-366 .nav .link,
#dropdown-menu-2btn-366 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-366 .navbar,
#dropdown-menu-2btn-366 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-366 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-366 .dropdown-menu a:hover,
#dropdown-menu-2btn-366 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-366 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-376 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-376 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-376 .nav .link,
#dropdown-menu-2btn-376 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-376 .navbar,
#dropdown-menu-2btn-376 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-376 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-376 .dropdown-menu a:hover,
#dropdown-menu-2btn-376 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-376 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-384 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-384 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-384 .nav .link,
#dropdown-menu-2btn-384 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-384 .navbar,
#dropdown-menu-2btn-384 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-384 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-384 .dropdown-menu a:hover,
#dropdown-menu-2btn-384 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-384 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-384 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-384 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-384 .nav .link,
#dropdown-menu-2btn-384 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-384 .navbar,
#dropdown-menu-2btn-384 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-384 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-384 .dropdown-menu a:hover,
#dropdown-menu-2btn-384 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-384 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-388 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-388 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-388 .nav .link,
#dropdown-menu-2btn-388 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-388 .navbar,
#dropdown-menu-2btn-388 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-388 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-388 .dropdown-menu a:hover,
#dropdown-menu-2btn-388 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-388 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-393 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-393 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-393 .nav .link,
#dropdown-menu-2btn-393 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-393 .navbar,
#dropdown-menu-2btn-393 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-393 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-393 .dropdown-menu a:hover,
#dropdown-menu-2btn-393 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-393 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-398 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-398 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-398 .nav .link,
#dropdown-menu-2btn-398 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-398 .navbar,
#dropdown-menu-2btn-398 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-398 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-398 .dropdown-menu a:hover,
#dropdown-menu-2btn-398 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-398 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-403 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-403 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-403 .nav .link,
#dropdown-menu-2btn-403 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-403 .navbar,
#dropdown-menu-2btn-403 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-403 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-403 .dropdown-menu a:hover,
#dropdown-menu-2btn-403 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-403 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-404 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-404 .navbar-brand a {
  font-size: 13px;
}
#dropdown-menu-2btn-404 .nav .link,
#dropdown-menu-2btn-404 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-404 .navbar,
#dropdown-menu-2btn-404 .dropdown-menu {
  background: #553982;
}
#dropdown-menu-2btn-404 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-404 .dropdown-menu a:hover,
#dropdown-menu-2btn-404 .dropdown-menu a:focus {
  background: #4c3374;
}
#dropdown-menu-2btn-404 .navbar-toggler {
  color: #ffffff;
}
